$label-color: #1C2B3A;
$link-color: #0073e6;

$background-first-color: #00c6ff;
$background-second-color: #7fdd8c;

$topbar-first-color: #6A11CB;
$topbar-second-color: #2575fc;

$section-bg-color: #F7F9FC;

$header-bg-color: #7fdd8c;

$accordion-header-bg-color: #FFB370;

$technology-bg-color: #eaf7ff;

