$label-color: #1C2B3A;

$link-color: #0073e6;

$background-first-color: #f7e095;

$background-second-color: #f3b42b;

$topbar-first-color: #5a6bbd;

$topbar-second-color: #3e13a1;

$section-bg-color: #F7F9FC;

$header-bg-color: #5a9fcf;

$accordion-header-bg-color: #6fcfb8;

$technology-bg-color: #e9a30b;